* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-thumb {
  background-color: #464b50;
}

.main-sections {
  background: #fff;
  border-radius: 25px;
  display: flex;
}

.left-section {
  display: flex;
  padding: 30px;
  justify-content: space-between;
  flex-direction: column;
}

.left-section .left-section-menu img {
  width: 30px;
  height: 20px;
  cursor: pointer;
}

.left-section .left-section-social img {
  display: block;
  margin: 20px 0;
  cursor: pointer;
}

.right-section {
  background: linear-gradient(294.28deg, #c8dce6 0%, #b6ccda 100%);
  width: 100%;
  border-radius: 15px;
  padding: 40px 65px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-section nav ul li {
  padding: 0 40px;
  font-size: 18px;
}

.right-section nav ul li:nth-child(4) {
  padding: 0;
  font-size: 18px;
}

.right-section nav ul li a {
  color: #fff;
  margin: 0;
}

.right-section nav ul li a:hover {
  color: white;
}

.right-section nav ul li .actives {
  background-color: #fff;
  color: rgba(182, 204, 218, 1);
  width: 130px;
  padding: 5px 0;
  text-align: center;
  border-radius: 100px;
  font-weight: 600;
}

.right-section nav ul li .actives:hover {
  color: rgba(182, 204, 218, 1);
}

.right-container-section {
  min-width: 1178.5px;
}

.navbar-brand {
  margin-right: 60px;
}

.right-section-nav-search {
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-section-nav-search .search-icon {
  margin: 0 10px 0 0;
}

.right-section-nav-search span {
  color: #fff;
  height: 22px;
  margin: 0 15px 0 5px;
  border-left: 1px solid white;
}

.right-section-nav-search img {
  cursor: pointer;
}

.navbar-collapse {
  transition: none;
}

.search-bar {
  width: 280px;
  display: flex;
  align-items: center;
  background: rgba(255, 255, 255, 0.27);
  border-radius: 100px;
  padding-right: 10px;
}

.search-bar img,
.search-icon img {
  cursor: pointer;
}

.search-bar input[type="text"] {
  padding: 9px 10px 9px 25px;
  border: none;
  outline: none;
  flex: 1;
  font-size: 16px;
  background-color: transparent;
  width: 100%;
  color: #fff;
}

.search-bar input::placeholder {
  color: #fff;
}

.right-section .right-middle-section {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  padding-top: 70px;
}

.right-section .right-middle-section p {
  color: white;
  font-size: 63px;
  line-height: 86px;
  margin: 0;
}

.right-section .right-middle-section .right-middle-section-button {
  padding-top: 80px;
}

.right-section .right-middle-section button {
  color: white;
  border: 3px solid #fff;
  width: 250px;
  height: 70px;
  background: transparent;
  border-radius: 100px;
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  cursor: pointer;
}

.right-section .right-bottom-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.right-section .right-bottom-section img {
  cursor: pointer;
}

.right-section .right-bottom-section span {
  color: #fff;
  margin: 0 10px;
}

.right-section .right-bottom-section .right-bottom-section-watch img {
  margin: 0 10px;
}

.right-section .right-middle-section .img-section img:nth-child(3) {
  margin-top: -40px;
}

@media screen and (max-width: 1399px) {
  .right-section nav ul li {
    padding: 0 20px;
  }

  .right-container-section {
    min-width: 976.3px;
  }

  .navbar-brand {
    margin-right: 30px;
  }

  .right-section .right-middle-section p {
    font-size: 52px;
    line-height: 68px;
  }

  .right-section .right-middle-section {
    padding-top: 50px;
  }

  .search-bar {
    width: 260px;
  }

  .right-section .right-middle-section .right-middle-section-button {
    padding-top: 50px;
  }

  .right-section .right-middle-section img:nth-child(1) {
    width: 400px;
  }
}

@media screen and (max-width: 1199px) {
  .right-section nav ul li {
    padding: 0 7px;
  }

  .right-container-section {
    min-width: 801.8px;
  }

  .right-section {
    padding: 30px 45px;
  }

  .right-section .right-middle-section {
    padding-top: 40px;
  }

  .right-section .right-middle-section .right-middle-section-button {
    padding-top: 40px;
  }

  .navbar-brand {
    margin-right: 20px;
  }

  .search-bar {
    width: 210px;
  }

  .right-section .right-middle-section p {
    font-size: 40px;
    line-height: 55px;
  }

  .right-section .right-middle-section button {
    width: 200px;
    height: 60px;
  }

  .right-section .right-middle-section img:nth-child(1) {
    width: 358px;
  }

  .right-section .right-middle-section img:nth-child(2) {
    width: 28px;
  }
}

@media screen and (max-width: 991px) {
  .right-section nav ul li {
    padding: 0 8px;
    font-size: 16px;
  }
  .right-container-section {
    min-width: 627.6px;
  }
  .left-section {
    padding: 25px;
  }

  a.navbar-brand {
    margin: 0;
  }

  .right-section .right-middle-section {
    padding-top: 10px;
  }

  .right-section nav ul li a.actives {
    width: 82px;
    font-size: 16px;
  }

  .search-bar {
    width: 136px;
  }

  .right-section {
    padding: 12px 25px;
  }

  .right-section .right-middle-section .right-middle-section-button {
    padding-top: 30px;
  }

  .right-section .right-middle-section p {
    font-size: 28px;
    line-height: 43px;
  }

  .right-section .right-middle-section button {
    width: 150px;
    height: 53px;
    font-size: 20px;
  }

  .right-section .right-middle-section img:nth-child(1) {
    width: 300px;
  }

  .right-section .right-middle-section img:nth-child(3) {
    width: 340px;
    text-align: center;
  }

  .right-section .right-bottom-section .right-bottom-section-watch img {
    margin: 0 5px;
  }
}

@media screen and (max-width: 767px) {
  .right-section nav ul li {
    padding: 0;
  }

  .right-container-section {
    min-width: 100%;
  }

  .main-sections {
    flex-direction: column;
  }

  .search-bar {
    width: 250px;
  }

  .left-section {
    order: 2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 25px 20px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
  }

  .left-section .left-section-menu {
    margin-left: 10px;
  }

  .right-section .right-middle-section button {
    width: 151px;
    height: 58px;
    font-size: 18px;
  }

  .right-section .right-middle-section {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .left-section .left-section-social {
    display: flex;
  }

  .left-section .left-section-social img {
    margin: 0 10px;
  }

  .navbar-collapse {
    transition: none;
    position: absolute;
    background-color: #fff;
    top: 0;
    margin-top: -12.7px;
    left: 0;
    margin-left: -24px;
    padding: 30px 0 102.4px 0;
    border-top-left-radius: 14px;
  }

  .right-section .right-middle-section p {
    font-size: 32px;
    line-height: 51px;
    width: 329px;
  }

  .right-section nav ul li a.nav-link {
    padding-top: 15.6px;
    padding-bottom: 15.6px;
  }

  .right-section nav ul li a {
    color: rgba(171, 198, 214, 1);
    text-align: center;
  }

  .right-section nav ul li a:hover {
    color: rgba(171, 198, 214, 1);
  }

  .right-section nav ul li .actives {
    background: rgba(239, 246, 251, 1);
    color: #000;
    padding: 0 144.5px;
    display: flex;
    justify-content: center;
    border-radius: 0;
    margin: 0;
  }

  .right-section nav ul li .actives:hover {
    color: #000;
  }

  .right-section {
    order: 1;
    border-radius: 30px;
  }

  .right-section .right-bottom-section {
    display: none;
  }


  .right-section .right-middle-section img:nth-child(1) {
    width: 171.7px;
  }

  .right-section .right-middle-section img:nth-child(2) {
    width: 21px;
  }

  .right-section .right-middle-section img:nth-child(3) {
    width: 180px;
    padding-top: 20px;
  }
}

@media screen and (max-width: 575px) {
  .search-bar {
    width: 200px;
  }

  .right-section .right-middle-section {
    flex-direction: column;
  }

  .right-section {
    padding: 12px 30px;
  }

  .navbar-collapse {
    margin-left: -30px;
    padding: 70.7px 0 145.7px 0;
    border-top-left-radius: 30px;
  }

  .right-section nav ul li {
    padding: 30px 0;
  }
  .right-section nav ul li a.nav-link {
    padding-top: 17.6px;
    padding-bottom: 17.6px;
    font-size: 18px;
  }

  .right-section nav ul li .actives {
    padding: 20px 123px;
  }

  .right-section .right-middle-section button {
    width: 151px;
    height: 58px;
    font-size: 18px;
    font-weight: 500;
  }

  .right-section .right-middle-section .right-middle-section-button {
    padding: 30px 0 40px 0;
  }

  .right-section .right-middle-section img:nth-child(1) {
    width: 281px;
  }

  .right-section .right-middle-section img:nth-child(2) {
    width: 30px;

  }

  .right-section .right-middle-section img:nth-child(3) {
    width: 192px;
    margin-left: 70px;
  }
}

@media screen and (max-width: 375px) {
  .navbar-collapse {
    padding: 70.7px 0 172.7px 0;
  }

  .search-bar {
    width: 165px;
  }

  .right-section nav ul li {
    padding: 20px 0;
  }
  .right-section nav ul li a.nav-link {
    padding-top: 10.6px;
    padding-bottom: 10.6px;
    font-size: 18px;
  }

  .right-section {
    padding: 15px 20px;
  }

  .right-section .right-middle-section p {
    font-size: 26px;
    line-height: 36px;
    width: 268px;
  }

  .right-section nav ul li .actives {
    padding: 20px 107.5px;
  }

  .right-section .right-middle-section img:nth-child(1) {
    width: 200px;
  }

  .right-section .right-middle-section img:nth-child(2) {
    width: 25px;
  }

  .right-section .right-middle-section img:nth-child(3) {
    width: 192px;
    margin-left: 10px;
  }
}